.change-password {

	max-width: 56.5625rem;

	.account-tabs__list {
		width: 100%;
	}

	.account-block__body {
		margin-top: 1.25rem;
	}

	// .change-password__form

	&__form {
		margin-top: 1.875rem;
		max-width: 25.625rem;

		display: flex;
		flex-direction: column;
		
		gap: 1.25rem;

		.form-label > span {
			font-size: 0.8125rem;
			@include _550 {
				font-size: 0.875rem;
			}
		}
	}

	// .change-password__submit

	&__submit {
		align-self: flex-start;
		min-width: 12.5rem;
	}
}
