.account-title {
	font-weight: 600;
	font-size: 1.5rem;
	line-height: 120%;
	color: var(--theme-text-color);

	@include _550 {
		font-size: 2rem;
	}
	
	@include _992 {
		font-size: 2.5rem;

		min-height: 3.75rem;
	}
}