.a-book-advantages {

	border-radius: 1.875rem 1.875rem 0px 0px;
	padding-bottom: 4.875rem;

	@include _992 {
		border-radius: 3.75rem 3.75rem 0px 0px;
		gap: 0 1.25rem;

		display: grid;
		grid-template-columns: 1fr 1fr;

		padding-top: 8.125rem; padding-bottom: 8.125rem;

		overflow: hidden;
	}

	padding-top: 5rem; //margin-top: 5rem;

	// .a-book-advantages__background

	&__background {
	}

	// .a-book-advantages__decor

	&__decor {
		display: none;
		@include _992 {
			display: block;

			right: calc(50% - 48.4375rem); bottom: 40%;
			width: 4.6875rem; height: 9.0625rem;
		}
	}

	// .a-book-advantages__title

	&__title {
		@include _992 {
			grid-column: 1; grid-row: 1;
		}
	}

	// .a-book-advantages__block

	&__block {

		padding: 25px 1.875rem 2.5625rem;
		background: var(--theme-primary-2);
		box-shadow: 0.875rem 0.875rem 1.875rem var(--shadow-3);
		border-radius: 0px 2.5rem;

		@include _992 {
			background: var(--theme-primary-4);
			padding: 3.125rem 2.875rem 3.125rem 3.125rem;
		}
		
		&:nth-child(4) {
			margin-top: 2.5rem;
			@include _992 {
				margin-top: 3.75rem;
				grid-column: 1; grid-row: 2;
			}
		}

		&:nth-child(6) {
			margin-top: 3.125rem;
			@include _992 {
				margin-top: -6.25rem;
				grid-column: 2; grid-row: 4;
			}
		}

		h3 {

			font-weight: 600;
			font-size: 1.25rem;
			line-height: 120%;
			color: var(--theme-text-color);
			
			mark {
				color: var(--accent);
			}
		}
	}

	// .a-book-advantages__image

	&__image {
		text-align: center;
		margin-top: 3.125rem;
		padding: 0 2.5rem;

		display: flex;
		align-items: flex-end;
		justify-content: center;

		img {
			max-width: 23.375rem;
		}

		@include _992 {
			position: relative;

			grid-column: 2; grid-row: 1/4;
			padding: 3.75rem 4.375rem;
			margin-top: 0;

			&::before {
				content: "";
				position: absolute;
				left: 50%; top: 50%;
				
				transform: translate(-50%,-55%);
				width: 250%;
	
				display: block;
		
				aspect-ratio: 1/1;
				background: var(--gradient-circle);
				border-radius: 50%;
				opacity: .4;

				z-index: -1;
			}

			img {
				transform: translate(0,-20%);
			}
		}
	}

	// .a-book-advantages__item

	&__item {

		margin-top: 2.5rem;

		@include _992 {
			grid-column: 1; grid-row: 4;
			align-self: center;	
			margin-top: 0;

			font-size: 1.125rem;
			margin-left: 2rem;
		}

		display: flex;
		font-size: 0.875rem;
		line-height: 160%;
		color: var(--theme-secondary-2);

		margin-left: 1rem;

		&::before {
			content: "";
			display: inline-block;
			width: 0.375rem; height: 0.375rem; flex: 0 0 0.375rem;
			border-radius: 50%;
			margin-right: 1rem; margin-top: 0.75rem;

			background: var(--accent-2);
			box-shadow: 0px 0px 1rem 0.3125rem var(--accent-2);
		}
	}
}
