.pagination {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	gap: 0.625rem;

	a, span {
		display: flex;
		align-items: center;
		justify-content: center;

		&.is-current {
			pointer-events: none;
			color: var(--white);
		}

		width: 2rem; height: 2rem;
		border-radius: 50%;

		@media (min-width: 360px) {
			width: 3rem; height: 3rem;
		}

		@include _768 {
			width: 4.375rem; height: 4.375rem;
		}

		font-size: 1rem;
		line-height: 100%;
		color: var(--theme-secondary-2);
		box-shadow: 0.375rem 0.375rem 0.875rem var(--shadow);
		background: var(--theme-primary-4);

		svg {
			color: var(--accent);
			width: 0.4375rem; height: 0.75rem;

			transition: color .2s ease;
		}

		@media (any-hover: hover) {

			transition: background .2s ease, color .2s ease;

			&:is(a):hover {
				background: var(--accent);
				color: var(--white);
				svg {
					color: var(--white);
				}
			}
		
			&:is(a):active {
				background: var(--accent-2);
				color: var(--white);
				svg {
					color: var(--white);
				}
			}
		}
	}
}
