.index-hero {

	min-height: 46.875rem;
	padding-top: calc(3.125rem + var(--static-header-height));

	transition: bakcground .3s ease;

	@include _992 {
		padding-top: clamp(6.25rem, 25vh, 12.5rem);

		display: grid;
		grid-template-columns: 50% auto;
		grid-template-rows: auto 3.125rem;
		gap: 0 1.875rem;
	}

	// .index-hero__content_decor

	&__content_decor {
		left: 0; top: 0;
		transform: translate(-70%,-45%);
		width: 9.0625rem; height: 9.0625rem;

		clip-path: var(--decor-clip-right-bottom);

		display: none;
		@include _container {
			display: block;
		}
	}

	// .index-hero__content

	&__content {
		position: relative;
		align-self: center;
	}

	// .index-hero__heading

	&__heading {
	}

	// .index-hero__title

	&__title {
		padding-top: 1rem;
	}

	// .index-hero__text

	&__text {
		padding-top: 1.25rem;
		max-width: 22.9375rem;
	}

	// .index-hero__button

	&__button {
		margin-top: 2.1875rem;
	}

	// .index-hero__image

	&__image {
		margin-top: 2.9375rem;

		@include _992 {
			margin-top: 0;
		}

		position: relative;
		width: 100%;

		grid-column: 2; grid-row: 1/3;

		display: grid;
		> * {
			grid-area: 1/1;
		}
	}

	// .index-hero__image_decor

	&__image_decor {
		position: absolute;
		right: 0; bottom: 0;
		width: 4.6875rem; height: 9.0625rem;
		transform: translate(140%,-100%);

		display: none;
		@include _container {
			display: block;
		}
	}

	// .index-hero__image_inner

	&__image_inner {
		
		img {
			position: absolute;
			right: 0; top: 50%;
			left: auto;

			transform: translate(0%,-50%);

			width: 110%; height: auto; max-height: 100%;
			object-fit: contain;

			@include _992 {
				top: 0;
				transform: translate(8%,0);
				width: 139.355%;
			}
		}

		&::before {
			content: "";
			position: absolute;
			left: 50%; top: 50%;
			transform: translate(-50%,-47.5%);
			@include _992 {
				transform: translate(-50%,-40%);
				width: 250%;
			}
			width: 400%; aspect-ratio: 1/1;
			background: var(--gradient-circle);
			border-radius: 50%;
			opacity: .5;
		}
	}

	// .index-hero__stocks

	&__stocks {
		padding-top: 0.9375rem;

		display: flex;
		flex-direction: column;
		gap: 1.25rem;

		width: 100%;

		@include _992 {
			gap: 0;
			max-width: 36.4375rem;
		}

		@media (min-width: #{$container+12.5}rem) {
			transform: translate(5rem,0);
		}
	}

	// .index-hero__stocks_item

	&__stocks_item {

		max-width: 13.75rem; width: 100%;
		display: none;

		@include _992 {
			&:nth-child(2) {
				margin-top: -1.5625rem;
			}
	
			&:nth-child(3) {
				margin-top: 4.6875rem; margin-right: 4.75rem;
			}
		}

		&:nth-child(-n + 4) {
			display: block;
		}

		&:nth-child(odd) {
			align-self: self-end;
		}
	}

	// .index-hero__reviews

	&__reviews {
		padding-top: 2.5rem;
		@include _992 {
			padding-top: 0;
		}
		img {
			width: 13.9375rem; height: 3.125rem;
			object-fit: contain;
		}
	}
}
